@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  padding-top: 32px;
}
section {
  padding: 32px 0;
}
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
a {
  display: inline;
  text-decoration: none;
}
section {
  padding: 0 32px;
}
.purple {
  color: #6415ff;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.5;
  letter-spacing: 1.4;
}
div {display: block;}
img {
  width: 100%;
}
p {
  line-height: 1.5;
}

button {
  cursor: pointer;
}
.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms;
}
.btn:hover {
  background-color: rgba(60, 13, 153);
}
.section__title {
  font-size: 48px;
  margin: 16px 0;
  color: rgb(36, 62, 99);
  line-height: 1.5;
}
.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
}
.section__para {
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}
.grn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
html {
  scroll-behavior: smooth;
}
svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;}


/* Nav */
#landing {
  padding: 0 32px;
}
.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 0 0 4px 0;
}
.nav__logo--img {
  width: 40px;
  height: 40px;
}
.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;

  margin: 0 24px;
  color: #243e63;
}
.nav__logo--title {
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
  padding-bottom: 2px;
}
.nav__row {
  display: flex;
  justify-content: space-between;
}
.nav__link--list {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.nav__link--primary {
  margin-top: 2px;
  background-color: #6415ff;
  color: #fff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms;
  border-radius: 9999px;
  padding: 10px 32px;
  margin: 0;
}
.nav__link--login {
  margin-left: 48px;
}
.nav__link:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms;
  opacity: 0;
}

.nav__link:hover:after {
  opacity: 1;
}
.nav__link--primary:after {
  content: "";
  width: 0;
  height: 0;
}

/* Burger menu*/
.menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 378px;
  margin: 24px 16px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
  border-image: initial;
  
  
 
}


.nav__burger {
  border: none;
  background-color: transparent;
  display: none;
}
.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}
.btn__menu--list {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;

}
.menu__link{
  padding-bottom: 4px;
  margin: 8px 0;
  font-size: 18px;
  color: black;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;

}
.menu__link:hover{
  border-color: #6415ff;
}
.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;}

  .menu__open .menu{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);}


  .menu__link--primary{
    color: rgb(247, 250, 252);
    padding: 12px 32px;
    background: rgb(100, 21, 255);
    border-radius: 500px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
  }
/* Header */

.container {
  padding: 96px 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__img--wrapper {
  width: calc(100% - 41.6667%);
}

.header__img {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: flex-end;
}

.header__description--title {
  font-size: 48px;
  line-height: 1.3;
}

.header__description {
  width: 41.6667%;
  display: flex;
  flex-direction: column;
}

.header__customers--img {
  padding: 24px 0;
}
.header__description--para {
  color: #243e63;
  font-size: 18px;
  margin: 32px 0;
  text-align: left;
}
.description__email--wrapper {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.decription__email {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}
.decription__email:focus,
.decription__email:active {
  outline: transparent solid 2px;
  outline-offset: 2px;
  border-color: rgba(100, 21, 255);
}
.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}
.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}
.decription__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms;
}
.decription__email--btn:hover {
  background-color: rgba(60, 13, 153);
}
.header__customers--title {
  margin-top: 48px;
  color: #a0aec0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.6px;
}
.header__customers--img {
  opacity: 0.5;
  padding-right: 64px;
}
.header__blob {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.05;
  width: 256px;
  height: 256px;
  transform: matrix(1, 0, 0, 1, -163, 0);
}

/* Features */
.features__container {
  padding: 80px 0;
}
.features__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features__title {
  padding: 24px 0;
}
.features__para {
  text-align: center;
  max-width: 576px;
}
.feature__img--wrapper {
  border: 1px solid #e5e7eb;
  padding: 20px;
  border-radius: 500px;
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}
.feature__row {
  margin: 32px 24px;
  display: flex;
  align-items: flex-start;
}
.feature__title {
  font-size: 24px;
}
.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}
.feature {
  display: flex;
  width: calc(100% / 3);
}
.feature__img {
  width: 24px;
  height: 24px;
}
.features {
  display: flex;
  flex-wrap: wrap;
}

/* Quality*/

.quality__row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.quality__img--wrapper {
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.quality__description {
  width: 50%;
}
.quality__btn {
  margin-top: 32px;
}
.quality__img {
  width: 100%;
  overflow: hidden;
}
.quality__title {
  padding: 24px 0;
}
.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

/* steps */

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
  margin: 16px 0;
}
.steps__description {
  width: 50%;
}
.steps__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img--wrapper {
  width: 50%;

  max-width: 568px;
}
.steps__list {
  display: flex;
  flex-direction: column;
}
.step__number {
  font-size: 36px;
  color: #cbd5e0;
}
.step {
  display: flex;
}
.step__description {
  padding-left: 24px;
}
.steps__title {
  padding: 24px 0;
}
/* Values*/

.values__row {
  display: flex;
  width: 100%;
}
.values__img--wrapper {
  width: 50%;
  margin: 0 56px;
  display: flex;
}
.values__description {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.values__btn {
  margin-top: 48px;
}
.values__img {
  width: 100%;
}

.value__img--wrapper {
  background-color: rgb(154, 230, 180);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.value {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
  display: flex;
}
.value__title {
  display: flex;
  width: 100;
  margin-top: 16px;
  flex-direction: column;
}
.value__img {
  font-size: 16px;
  height: 20px;
  width: 20px;
}
.img__pink {
  background-color: #feb2b2;
}
.value__para {
  margin-top: 16px;
}
.values__list {
  display: flex;
  padding-top: 16px;
}
.value__title:nth-of-type(1) {
  margin-right: 32px;
}

.values__title {
  padding: 24px 0;
}
.values__btn {
  width: 30%;
}
/* Pricing */

.section__top--color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
}
.pricing__dicricption--title {
  padding: 24px 0;
}
.plan {
  position: relative;
  width: calc(100% / 3);
  max-width: 384px;
  margin: 64px 32px 0 0;
  padding-top: 8px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  z-index: 100;
  background: #fff;
}

.plans {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.pricing__decription {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.plan__members {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}
.plan__title,
.plan__type {
  padding: 32px;
}
.plan__member--details {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}
.plan:nth-child(2) .plan__member--details {
  color: white;
}
.plan:nth-child(2) .plan__type {
  border-bottom: 2px solid rgb(102, 126, 234);
  border-top: 2px solid rgb(102, 126, 234);
}
.plan__type {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}
.plan__btn {
  padding: 32px 64px;

  transition: all 300ms ease;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: white;
}
.plan:nth-child(2) .section__top--color {
  visibility: none;
}
.btn__purple {
  color: #6415ff;
  background-color: #f7fafc;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  font-weight: bold;
  transition: all 300ms;
}
.btn__purple:hover {
  background-color: #f7fafc;
}
.plan:nth-child(3) .pricing__btn {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan:nth-child(3) .section__top--color {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.plan__btn:hover {
  transform: translateY(2px);
  transform: translatex(2px);
  box-shadow: rgb(0, 0, 0);
}
.plan__btn:nth-child(2):hover {
  background-color: transparent;
}
.plan__title--section {
  font-weight: bold;
  line-height: 1.625;
  font-size: 20px;
}
.plan__title,
.plan__type,
.plan__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan__pricing {
  font-size: 48px;
  margin: 4px 0;
}
.plan__time {
  font-weight: bold;
  line-height: 1.625;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__time {
  color: #a0aec0;
}

/* Testimonials */

.test__row {
  display: flex;
  align-items: center;
}

.test__img--wrapper {
  width: 50%;
}

.test__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}
.test__rating {
  color: rgba(246, 173, 85);
  margin-right: 2px;
  margin-top: 4px;
}

.test__profile {
  display: flex;
  align-items: center;
}
.test__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.test__profile--img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.test__profile--name-wrapper {
  margin-left: 24px;
}
.test__profile--name {
  font-weight: 700;
  color: #243e63;
  font-size: 20px;
  line-height: 1.5;
}

.test__profile--cred {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.test__para {
  margin: 16px 0px 40px 0;
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.tests {
  margin-top: 40px;
}

.test__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #edf2f7;
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms;
  border: none;
}
.test__btn:hover {
  background-color: #cbd5e0;
}
.test__btn svg {
  height: 16px;
  width: 16px;
}

.test__bottom--btns {
  display: flex;

  align-items: center;
  font-size: 12px;
}
.arrow__right {
  font-size: 12px;
}
.test__para {
  margin-top: 16px;
}
.test__title {
  font-weight: 700;
  color: #243e63;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 20px;
}
.btn--divider {
  width: 1px;
  height: 24px;
  background-color: #4a5568;
}
.tests__title {
  padding: 0;
  margin-bottom: 24px;
}

/* pre footer buttons*/
.start__container {
  background-color: #6415ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  width: 100%;
}
.start__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  padding: 0 32px;
}
.start__btns,
.start__title {
  width: 50%;
}

.start__btns {
  display: flex;
  justify-content: flex-end;
}

.start__btn {
  padding: 20px 40px;
  border-radius: 500px;
  margin-right: 24px;
  border: none;
  font-size: 16px;
  transition: all 300ms ease;
}
.start__title {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}
.start__btn:nth-child(1) {
  background-color: #f56565;
  color: white;
}
.start__btn:nth-child(2) {
  background-color: #6415ff;
  border: 1px solid white;
  color: white;
}
.start__btn:nth-child(2):hover {
  background-color: white;
  color: #6415ff;
}
.start__btn:nth-child(1):hover {
  filter: saturate(1.5);
}
/* Footer */
footer {
  background-color: #6415ff;
  padding: 96px 32px;
}
.footer__row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer__columns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.footer__column {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}
.footer__column--title {
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
}

.footer__column--link {
  padding-top: 24px;
  color: #f7fafc;
  font-size: 14px;
  display: flex;
  align-items: center;
  
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__logo--img {
  width: 32px;
  height: 32px;
}
.footer__divider {
  margin: 64px 0;
  background-color: #737a85b0;
  width: 100%;
  height: 2px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo--text {
  margin-left: 8px;
  color: white;
  font-size: 20px;
}
.copyright {
  color: #cbd5e0;
  font-weight: 500;
}
.footer__social--link {
  margin-left: 16px;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  transition: all 300ms ease;
  cursor: pointer;
  display: flex;
}

.logo__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px;
}

.footer__social--link:hover {
  background-color: #7c8ba1;
}

.footer__column--link:hover {
text-decoration: underline;
}
.footer__social--link svg {
  height: 16px;
  width: 16px;
}

@media (max-width: 1024px) {
  .nav__link--list {
    display: none;
  }
.nav__burger{
  display: block;

  
}
.header__row {
  flex-direction: column;
}
.header__description--title {
  font-size: 40px;
}
.header__description,
.header__img--wraper {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}


.header__description--para,.header__description--title{
  text-align: 
  center;
}
.header__description{
  align-items: center;
}
.feature {
  width: calc(100%/2);
justify-content: center;
}
.quality__row {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.quality__title {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
}
.quality__img--wrapper{
  width: 100%;
  max-width: 550px;
}
.quality__btn {
width: 100%;
max-width: 200px;
margin-left: 90px;
}
.quality--tag, .quality__para {
  text-align: center;
}
.plans{
  
  flex-direction: column;
  align-items: center;
}
.plan{
  width: 100%;
  max-width: 750px;
  height: 100%;
  max-height: 800px;
}
.test__row {
  flex-direction: column;
  align-items: center;
}
.test__rating,.test__title,.test__para{
  text-align: center;
}
.section__para{
  font-size: 14px;
}
.plan__pricing {
  font-size: 36px;
}
.plan__title--section {
  font-size: 18px;
  text-align: center;
}
.plan__time{
  font: 14px;
}
.plan__members {
  font-size: 18px;
}
.plan__member--details {
  font-size: 16px;
}
.tests__title {
  text-align: center;
  font-size: 36px;
  text-wrap: wrap;
}
.section__title{
  font-size: 36px;
}
.test__img--wrapper {
  width: 100%;
  max-width: 6500px;
}
.start__row{
  flex-direction: column;
}
.start__title {
  text-align: center;
  padding-bottom: 24px;
}
.start__btns {
  margin: 0 auto;
}
.start__btn:nth-child(2) {
  margin: 0;
}
.footer__columns {
  flex-wrap: wrap;
  align-items: center;


}
.footer__column{
  width: calc(100%/4);
  align-items: flex-start;
}
.test__description{
  padding: 0;
}
.footer__column--title{
  text-align: center;
}
}

@media (max-width: 768px) {
  .features {
    justify-content: center;
  }
  .nav__burger {
    display: block;
  }
  header .row {
    flex-direction: column;
  }
  .header__description,
  .header__img--wraper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }
  .description__email--wrapper {
    margin-left: 36px;
  }
  .header__description--para {
    text-align: center;
  }
  .header__description--title {
    font-size: 36px;
    text-align: center;
  }
  .header__customers--title {
    text-align: center;
  }
  .header__customers--img {
    padding: 24px 0;
    margin: 0 auto;
  }
  .feature__row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .features {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .features__title {
    font-size: 32px;
    text-align: center;
  }
  .section__title {
    font-size: 32px;
  }
  .feature__title {
    padding-top: 24px;
  }
  .feature__img--wrapper {
    align-items: center;
    margin: 0 auto;
    padding-top: 24px;
  }
  .feature__text {
    align-items: center;
    text-align: center;
    padding-bottom: 24px;
  }
  .feature {
    width: 100%;
  }
  .features__para {
    padding-bottom: 24px;
  }
  .quality__row {
    flex-direction: column-reverse;
    margin: 0 auto;
    justify-content: center;
    
  }
  .test__img--wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  .quality__description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .quality__title {
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
  }
  .section__tag {
    text-align: center;
    padding-top: 24px;
  }
  .quality__img--wrapper {
    width: 100%;
  }
 .quality__btn{
  width: 100%;
  max-width: 250px;
  margin: 24px auto;
  align-items: center;
 }
  .section__para {
    text-align: center;
  }
  .section__title{
    text-align: center;
  }
  .values__row {
    flex-direction: column;
    align-items: center;
  }

  .steps__row {
    flex-direction: column;
  }
  .step__title,.step__para{
    text-align: center;
    padding-right: 24px;
  }
  .step {
    flex-direction: column;
    align-items: center;
  }
  .step__para:nth-child(2) {
   padding-bottom: 24px;
  }
  .values__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
  }
  .values__row{
    flex-direction: column-reverse;
  }
  .values__btn {
    align-items: center;
   
    width: 100%;
    
  }
  .value__para,.value__title {
    text-align: center;
  }
  .values__img{
    padding-top: 80px;
  }
  .value__name {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .value__title {
    margin-top: 12px;
  }
  .value__img--wrapper {
    margin: 12px 0;
  }
  .value__img--title{
    text-align: center;
  }
  .value__title{
    margin: 0 auto;
  }
  .value__title:nth-of-type(1) {
    margin-right: 0;
}
.plans{
  
  flex-direction: column;
  align-items: center;
}
.plan{
  width: 100%;
  max-width: 550px;
}
.test__row {
  flex-direction: column;
  align-items: center;
}
.plan__pricing {
  font-size: 32px;
}
.plan__title--section {
  font-size: 16px;
  text-align: center;
}
.plan__time{
  font: 12px;
}
.plan__members {
  font-size: 16px;
}
.plan__member--details {
  font-size: 14px;
}
.test__bottom{
  flex-direction: column;
  padding: 0;
}
.test__bottom--btns {
 justify-content: center;
 padding-top: 18px;
}
.test__profile {
  align-items: center;
}
.test__title {
  font-size: 16px;
}
.test__description{
  padding: 0;
}
.footer__column{
  width: calc(100%/3);
  align-items: center;

}
.footer__column:nth-child(4){
  margin-right: 80px;
}
.footer__column:nth-child(5){
  margin-right: 80px;
}
.footer__column--link{
  text-align: center;
  padding: 12px 0;
}
.footer__bottom{

  flex-direction:column;
}
.copyright{
  padding: 20px 0;

}
.start__btns {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px auto;
}
.start__btn:nth-child(1) {
  margin-right: 0;
  margin-bottom: 24px;
}
}
@media(max-width:550px) {
  .copyright{
    font-size: 16px;
    text-align: center;
  }
  .footer__logo--text {
    font-size: 18px;
  }
  .footer__columns{
    flex-direction: column;
    margin: 0 auto;
   
  }

  .footer__column{
    margin: 0 auto ;
    padding-top: 24px;
    align-items: center;

  }
  .footer__column:nth-child(4){
    margin-right: auto;

    align-items: center;

  }
  .footer__column:nth-child(5){
    margin-right: auto;
   
  }
  .section__title{
    font-size: 28px;
    text-align: center;
  }
  .section__para{
    font-size: 12px;
  }
  .section__tag {
    font-size: 16px;
  }
  .quality__title {
    font-size: 24px;
    
  }

.header__customers--title{
  margin-top: 16px;
}
.test__profile--name{
  font-size: 16px;
}
.test__profile--cred{
  font-size: 14px;
}
.footer__column--link{
  padding-right: 0;
  justify-content: center;
}
.footer__column--title{
  text-align: center;
}

.description__email--wrapper{
  flex-direction: column;
  height: auto;
  
}

.decription__email{
  position: static;
  padding: 16px 0;
  padding-left: 32px;
  line-height: 1.5;
}
.decription__email--btn{
  width: 100%;
  padding: 16px 0;
  margin: 16px 0;
  margin-bottom: 0px;
  line-height: 1.5;
}
.start__title{
  font-size: 24px;
}
.start__btn{
 
  font-size: 14px;
}
.plans {
  justify-content: center;
  align-items: center;
}
}